<div class="{{ section.class }}">
  <div class="image">
    Image Box
  </div>
  <div class="text">
    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation
  </div>
  <div class="OptionsWrapper">
    <mat-radio-group class="radioButtonGroup" aria-label="Select an option">
      <mat-radio-button class="radioButton" value="image-right"
        >Image Right</mat-radio-button
      >
      <mat-radio-button class="radioButton" value="image-left"
        >Image Left</mat-radio-button
      >
    </mat-radio-group>

    <mat-select style="margin-top: 20px;">
      <mat-option>blue text</mat-option>
      <mat-option>red text</mat-option>
    </mat-select>
  </div>
</div>
