<div class="{{ section.class }}">
  <div class="image">
    <img
      style="width: 100%; height: 100%;"
      src="../../assets/images/afc80bc7231b97c6eb9a20b2b6e2565a.jpg"
      alt="section_Image"
    />
  </div>
  <div class="text">
    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation
  </div>
  <div class="OptionsWrapper">
    <mat-radio-group
      (change)="
        updateParent.emit({
          index: index,
          attribute: 'imageAlignment',
          value: $event.value
        })
      "
      value="{{ section.imageAlignment }}"
      class="radioButtonGroup"
      aria-label="Select an option"
    >
      <mat-radio-button class="radioButton" value="right"
        >Image Right</mat-radio-button
      >
      <mat-radio-button class="radioButton" value="left"
        >Image Left</mat-radio-button
      >
    </mat-radio-group>

    <mat-select
      style="margin-top: 20px;"
      (selectionChange)="
        updateParent.emit({
          index: index,
          attribute: 'textColor',
          value: $event.value
        })
      "
      value="{{ section.textColor }}"
    >
      <mat-option value="blue">blue text</mat-option>
      <mat-option value="red">red text</mat-option>
    </mat-select>
  </div>
  <div
    class="deletebutton"
    (click)="
      deleteChild.emit({
        index: index
      })
    "
  >
    <span>Delete Section {{ index + 1 }}</span>
    <mat-icon aria-hidden="false" aria-label="delete icon">delete</mat-icon>
  </div>
</div>
