.NewButtonWrapper {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.AddSectionButton {
  transition: all 0.3s ease-in;
}
.AddSectionButton:hover {
  background-color: blue;
  color: white;
}
.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}
